@mixin headerText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

@mixin mainText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

@mixin headerSize15 {
    color: #FAF6F2;
    font-size: 15px;
}

@mixin btn {
    border: 2px solid #BB8C5F;
    font-size: 20px;
    padding: 19px 63px 23px 64px;
}

@mixin btnHover {
    background: #BB8C5F;
    transition: 0.8s;
}

@mixin brendsText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #BB8C5F;
}

@mixin modals {
    width: 350px;
    height: 401px;
    max-width: 1920px;
    position: absolute;
    margin-top: -32px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

@mixin modalsh3 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    color: #3E424B;
    font-size: 25px;
    margin-top: 14px;
}

@mixin modalsHeadImg {
    margin-bottom: 19px;

    width: 100%;
}

@mixin devideLine {
    max-width: 350px;
    width: 100%;
    margin-bottom: 13px;
}

@mixin signModalH5 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 115%;
    color: #3E424B;
}

@mixin signModalHead {
    max-width: 50%;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background: #D0D0D0;
}


.all-document {
    max-width: 1920px;

    

    @mixin inputBlock {
        width: 500px;
        height: 70px;
        background-color: #F5F5F5;
        border: #F5F5F5;
    }

    @mixin inputText {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;
        color: #050402;
        margin-bottom: 9px;
    }

    .container2 {
        background-color: #EEEEEE;
        padding-top: 106px;
        padding-bottom: 140px;
        h1 {
            font-family: 'Forum';
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            line-height: 100%;
            margin-bottom: 40px;
            color: #3E424B;
            text-align: center;
        }

        
        @mixin userInfoText {
            font-family: "Jost";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            color: #636B78;
            margin-bottom: 9px;
        }

        @mixin userInfo {
            font-family: "Jost";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 140%;
            color: #050402;
            margin-bottom: 9px;
            margin-left: 27px
        }

        .user-info {
            display: block;
            max-width: 840px;
            margin: 0 auto;
            border: 1px solid #BB8C5F;
            .cabinet-user-name-block{
                display: flex;
                .cabinet-user-name-text{
                    @include userInfoText();
                }
                .cabinet-user-name{
                    @include userInfo()
                }
            }
            .cabinet-user-phone-block{
                display: flex;
                .cabinet-user-phone-text{
                    @include userInfoText();
                }
                .cabinet-user-phone{
                    @include userInfo()
                }
            }
            .cabinet-user-mail-block{
                display: flex;
                .cabinet-user-mail-text{
                    @include userInfoText();
                }
                .cabinet-user-mail{
                    @include userInfo()
                }
            }
            .cabinet-user-city-block{
                display: flex;
                .cabinet-user-city-text{
                    @include userInfoText();
                }
                .cabinet-user-city{
                    @include userInfo()
                }
            }
            .cabinet-user-adress-block{
                display: flex;
                .cabinet-user-adress-text{
                    @include userInfoText();
                }
                .cabinet-user-adress{
                    @include userInfo()
                }
            }
        }
    }

    .bottom-container {
        padding-top: 139px;
        background-color: #050402;
        padding-bottom: 89px;

        footer {
            display: flex;
            justify-content: center;

            .collumn-one {
                .under-footer-logo-text {
                    padding-top: 52px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 150%;
                    color: #FAF6F2;
                }
            }

            .collumn-two {
                list-style: none;
                margin-left: 71px;
                margin-right: 80px;

                li {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 133.5%;
                    color: #E9ECF1;
                    margin-bottom: 31px;
                }
            }

            .collumn-three {
                list-style: none;
                margin-right: 208px;

                li {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 133.5%;
                    color: #E9ECF1;
                    margin-bottom: 31px;
                }
            }

            .column-four {

                .line-contacts {
                    display: flex;
                    margin-bottom: 12px;

                    p {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        color: #FAF6F2;
                        margin-left: 10px;
                        margin-right: 25px;
                        margin-top: 6px;
                    }

                    #viber {
                        margin-left: 12px;
                        margin-right: 12px;
                    }
                }

                .work-time {
                    margin-bottom: 32px;

                    p {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 150%;
                        color: #636B78;
                    }
                }

                .bottom-mail {
                    display: flex;

                    #img-mail {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        color: #FAF6F2;
                    }

                    #mail-text {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        color: #FAF6F2;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}