@mixin headerText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

@mixin mainText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

@mixin headerSize15 {
    color: #FAF6F2;
    font-size: 15px;
}

@mixin btn {
    border: 2px solid #BB8C5F;
    font-size: 20px;
    padding: 19px 63px 23px 64px;
}

@mixin btnHover {
    background: #BB8C5F;
    transition: 0.8s;
}

@mixin brendsText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #BB8C5F;
}

@mixin modals {
    width: 350px;
    height: 401px;
    max-width: 1920px;
    position: absolute;
    margin-top: -32px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

@mixin modalsh3 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    color: #3E424B;
    font-size: 25px;
    margin-top: 14px;
}

@mixin modalsHeadImg {
    margin-bottom: 19px;

    width: 100%;
}

@mixin devideLine {
    max-width: 350px;
    width: 100%;
    margin-bottom: 13px;
}

@mixin signModalH5 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 115%;
    color: #3E424B;
}

@mixin signModalHead {
    max-width: 50%;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background: #D0D0D0;
}


.all-document {
    max-width: 1920px;

    

    .container2 {
        background-color: #EEEEEE;
        padding-top: 106px;

        .top-part {
            margin: 0 auto;
            max-width: 1216px;

            .tatoo-title {
                font-family: 'Forum';
                font-style: normal;
                font-weight: 400;
                font-size: 60px;
                line-height: 100%;
                margin-bottom: 40px;
                color: #3E424B;
            }

            .categories {
                display: flex;

                .price-part {
                    display: flex;
                    margin-right: 50px;

                    .price-text {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 150%;
                        color: #636B78;
                        margin-right: 20px;
                        margin-top: 8px;
                    }

                    .min-price {
                        margin-right: 3px;

                        #min-price {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 150%;
                            text-align: center;
                            color: #3E424B;
                            width: 83px;
                            padding: 8px 22px 9px 22px;
                            border: 1px solid #3E424B;
                        }
                    }

                    span {
                        margin-top: 8px;
                        margin-right: 3px;
                    }

                    .max-price {
                        #max-price {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 150%;
                            text-align: center;
                            color: #3E424B;
                            width: 83px;
                            padding: 8px 22px 9px 22px;
                            border: 1px solid #3E424B;
                        }
                    }
                }

                .in-stock-block {
                    display: flex;
                    margin-right: 50px;
                    margin-top: 8px;

                    .in-stock-text {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 150%;
                        color: #636B78;
                        margin-right: 20px;
                    }

                    #in-stock {
                        width: 20px;
                        height: 20px;
                    }
                }

                .sort-blocks {
                    margin-top: -3px;

                    #sort-catalog {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 150%;
                        color: #3E424B;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        padding-left: 20px;
                        border: 0;
                    }
                }
            }
        }

        .catalog-body {
            max-width: 1216px;
            margin: 0 auto;
            padding-top: 34px;

            .cards {
                padding-bottom: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .product-card {
                    max-width: 289px;
                    width: 100%;
                    background-color: #F5F5F5;
                    margin-bottom: 7px;
                    margin-right: 15px;
                    .card-top-navigation {
                        padding-top: 30px;
                        z-index: 2;
                        position: relative;
                        margin-left: 30px;

                        .card-like-icon {
                            margin-left: 51px
                        }

                        .not-active {
                            display: none;
                        }

                        .card-gold-heart {
                            margin-bottom: 6px;
                            margin-left: 55px;
                        }
                    }

                    .product-photo-one {
                        position: relative;
                        z-index: 1;
                        object-fit: cover;
                    }

                    #card-photo-change {
                        text-align: center;
                        margin-bottom: 6px;
                    }

                    .card-descr {
                        margin-left: 30px;

                        #descr {
                            @include mainText();
                            font-size: 17px;
                            color: #3E424B;
                        }

                        #price {
                            margin-top: 10px;
                            padding-bottom: 20px;
                            font-family: 'Jost';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 130%;
                            color: #BB8C5F;
                        }
                    }

                    .card-btn-box {
                        text-align: center;

                        .card-btn {
                            border: 2px solid #BB8C5F;
                            font-size: 20px;
                            padding: 14px 42px 14px 42px;
                            color: #BB8C5F;
                            margin-bottom: 10px;
                        }

                        .card-btn:hover {
                            @include btnHover();
                            color: #FAF6F2;
                        }
                    }
                }
            }

        }

        .btn-block {
            text-align: center;

            .btn {

                @include btn();
                color: #BB8C5F;
                margin-bottom: 178px;
            }

            .btn:hover {
                @include btnHover();
                color: #FAF6F2;
            }
        }
    }

    @mixin inputBlock {
        width: 500px;
        height: 70px;
        background-color: #F5F5F5;
        border: #F5F5F5;
    }

    @mixin inputText {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;
        color: #050402;
        margin-bottom: 9px;
    }


    .bottom-container {
        padding-top: 139px;
        background-color: #050402;
        padding-bottom: 89px;

        footer {
            display: flex;
            justify-content: center;

            .collumn-one {
                .under-footer-logo-text {
                    padding-top: 52px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 150%;
                    color: #FAF6F2;
                }
            }

            .collumn-two {
                list-style: none;
                margin-left: 71px;
                margin-right: 80px;

                li {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 133.5%;
                    color: #E9ECF1;
                    margin-bottom: 31px;
                }
            }

            .collumn-three {
                list-style: none;
                margin-right: 208px;

                li {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 133.5%;
                    color: #E9ECF1;
                    margin-bottom: 31px;
                }
            }

            .column-four {

                .line-contacts {
                    display: flex;
                    margin-bottom: 12px;

                    p {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        color: #FAF6F2;
                        margin-left: 10px;
                        margin-right: 25px;
                        margin-top: 6px;
                    }

                    #viber {
                        margin-left: 12px;
                        margin-right: 12px;
                    }
                }

                .work-time {
                    margin-bottom: 32px;

                    p {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 150%;
                        color: #636B78;
                    }
                }

                .bottom-mail {
                    display: flex;

                    #img-mail {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        color: #FAF6F2;
                    }

                    #mail-text {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        color: #FAF6F2;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}